*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgba(53, 207, 148, 0.686);
}
h1{
    margin-top: 20px;
    font-size: 75px;
}
.sketchpad {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 100px ;
}
.cell {
    background-color: white;
    border: 1px solid white;
}
.toolcontainer{
  
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    
}
.reset{
    width: 100px;
}
.slidecontainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#sliderValue{
    font-size: 25px;
}
.color{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colortext{
font-size: 25px;
}