*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}
.sketchpad {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
}
.cell {
    background-color: antiquewhite;
    border: 1px solid black;
}
.toolbar{
    background-color: white;
    display: flex;
    justify-content: center;
}
.reset{
    width: 100px;
}
.slidecontainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

input{
    font-size: 16px;
}